# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
run
*.exe
*.out
*.app

# Cores
core.[0-9]*

# Logs
*.log
*.aux

# Large files
*.pdf
*.jpg
